target/
.kiro
# Added by code-review-graph
.code-review-graph/

# AI Coding Tool Configs
.claude/
.gemini/
.qoder/
.opencode.json
.mcp.json

# Editor and AI Tool Instructions
.github/
.vscode/
.cursorrules
.windsurfrules
AGENTS.md
CLAUDE.md
GEMINI.md
QODER.md
